/*
  STYLE GUIDE STYLINGW
*/
@font-face {
  font-family: 'Nova Regular';
  src: url('../fonts/Mark Simonson  Proxima Nova Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Nova Thin';
  src: url('../fonts/Mark Simonson  Proxima Nova Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Nova Light';
  src: url('../fonts/Mark Simonson  Proxima Nova Light.otf') format('opentype');
}

@font-face {
  font-family: 'Nova Bold';
  src: url('../fonts/Mark Simonson  Proxima Nova Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nova Black';
  src: url('../fonts/Mark Simonson  Proxima Nova Black.otf') format('opentype');
}

/* Link */
a {
  color: #9933ff;
  text-decoration: none;
}

body {
  font-family: 'Nova Regular';
  padding: 2rem;
  color: white;
  background-color: black;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  color: black;
  background-color: #ccccff;
  padding: 0.5em 0.75em;
}

section h2 {
  letter-spacing: 5px;
  font-family: 'Nova Black';
  margin-bottom: 2em;
  margin-top: 6rem;
  /* background-color: white;
  color: black; */
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.header h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.header h2 {
  letter-spacing: 0px;
  font-family: 'Nova Regular';
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  background: transparent;
  color: white;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.logo {
  font-family: 'Nova Thin';
  text-align: center;
  letter-spacing: 5px;
}

.logo b {
  font-family: 'Nova Black';
}

.topnav nav ul {
  text-align: center;
}

.topnav nav ul li {
  display: inline-block;
  padding: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Nova Thin';
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the font weight of links on hover */
.topnav a:hover {
  font-family: 'Nova Bold';
}

/* Add a weight to the active/current link */
.topnav a.active {
  font-family: 'Nova Bold';
  color: white;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/*
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
/* The input bar of the form - STYLE GUIDE*/
.info input {
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1); */
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
}

.info {
  margin-top: 30px;
  padding: 20px 30px 0 20px;
  max-width: 500px;
}

/* The title of the form */
.info label {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

/* The input bar of the form - STYLE GUIDE*/
.info input {
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1); */
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
}

/* OLD STYLEGUIDE CONTENT */
.button-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 14px 16px;
  color: white;
  background-color: #333;
  text-decoration: none;
  transition-property: background-color;
  /* transition-duration: 0.5s; */
}

.button-nav:hover, .button-nav:focus {
  background-color: #111;
}

/* radio button */
.radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Radio button style */
/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ccccff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.checkmark {
  background-color: #9933ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #9933ff;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Nova Regular';
}

.button3 {
  background-color: #9933ff;
  color: white;
}

.button3:hover {
  background-color: #ccccff;
  color: white;
  /* text-transform: uppercase; */
}

/*
  TEXT ELEMENTS -------------------
*/
/*
  COMBINED ELEMENTS -------------------
*/
.title {
  font-family: 'Nova Bold';
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.banner img {
  width: 100%;
  padding-bottom: 2em;
}

.content {
  margin-left: 30%;
  margin-right: 30%;
}

.content .pic {
  padding-bottom: 1em;
  text-align: center;
}

.content .pic img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .pic small {
  font-family: 'Nova Thin';
}
