.140_159 {
	overflow:hidden;
}
.e140_159 {
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:7889px;
	position:absolute;
}
.e141_11 {
	width:1441.29443359375px;
	height:1470.310302734375px;
	position:absolute;
	left:0px;
	top:6300.140625px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_161 {
	background-color:rgba(92.00000211596489, 92.00000211596489, 92.00000211596489, 1);
	width:1440px;
	height:515.45703125px;
	position:absolute;
	left:0px;
	top:5510.01416015625px;
}
.e140_162 {
	width:1279.720458984375px;
	height:308.125px;
	position:absolute;
	left:69.10986328125px;
	top:6157.50537109375px;
}
.e140_163 {
	width:1279.720458984375px;
	height:238.89208984375px;
	position:absolute;
	left:0px;
	top:69.23291015625px;
}
.e140_164 {
	width:238.89208984375px;
	height:238.89208984375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/00086_1526868604_man_in_cat_form_falling_through_different_dimensions_in_space_with_bright_glowing_lines_and_particles_around_him__top_camera_ang.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_165 {
	width:209.42904663085938px;
	height:104.41410064697266px;
	position:absolute;
	left:1070.2913818359375px;
	top:133.48699951171875px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_166 {
	width:354.5869445800781px;
	height:236.420166015625px;
	position:absolute;
	left:261.7052307128906px;
	top:1.4810116291046143px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_167 {
	width:403.4803771972656px;
	height:236.42010498046875px;
	position:absolute;
	left:639.1053466796875px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_168 {
	width:209.42906188964844px;
	height:117.80384826660156px;
	position:absolute;
	left:1070.2913818359375px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_169 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:421.1508483886719px;
	height:45.66357421875px;
	position:absolute;
	left:4px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_170 {
	color:rgba(255, 255, 255, 1);
	width:768.27587890625px;
	height:117.79080200195312px;
	position:absolute;
	left:89.70074462890625px;
	top:104.63421630859375px;
	font-family:Arial;
	text-align:left;
	font-size:96px;
	letter-spacing:10;
}
.e140_171 {
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:26px;
	position:absolute;
	left:967.0119018554688px;
	top:119.13421630859375px;
	font-family:Arial;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e140_172 {
	color:rgba(255, 255, 255, 1);
	width:329px;
	height:26px;
	position:absolute;
	left:1031.091796875px;
	top:200.42501831054688px;
	font-family:Arial;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e140_173 {
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:26px;
	position:absolute;
	left:1218.4833984375px;
	top:120.02960205078125px;
	font-family:Arial;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e140_174 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:60px;
	height:25px;
	position:absolute;
	left:95.62890625px;
	top:224.42501831054688px;
	font-family:Arial;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e140_175 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:119px;
	height:22px;
	position:absolute;
	left:1047.011962890625px;
	top:145.92501831054688px;
	font-family:Arial;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e140_176 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:112px;
	height:22px;
	position:absolute;
	left:1240.12890625px;
	top:228.42501831054688px;
	font-family:Arial;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e140_177 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:1299.12890625px;
	top:146.8204345703125px;
	font-family:Arial;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e140_178 {
	color:rgba(255, 255, 255, 1);
	width:1199px;
	height:446px;
	position:absolute;
	left:128px;
	top:1178.8863525390625px;
	font-family:Arial;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e140_179 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:56px;
	top:2316.1455078125px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_180 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:235px;
	height:37px;
	position:absolute;
	left:56px;
	top:3160.290771484375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_181 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:153px;
	height:37px;
	position:absolute;
	left:56px;
	top:4211.14990234375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_182 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:421.1508483886719px;
	height:45.66357421875px;
	position:absolute;
	left:73.1097412109375px;
	top:1716.74853515625px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_183 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:239px;
	height:20px;
	position:absolute;
	left:129px;
	top:2180px;
	font-family:Arial;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e140_184 {
	background-color:rgba(7.000000057742, 7.000000057742, 7.000000057742, 1);
	width:1178px;
	height:720px;
	position:absolute;
	left:129px;
	top:2387.1455078125px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_185 {
	color:rgba(255, 255, 255, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:70px;
	top:3262.290771484375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_186 {
	color:rgba(255, 255, 255, 1);
	width:477px;
	height:51px;
	position:absolute;
	left:753px;
	top:3262.290771484375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_193 {
	color:rgba(255, 255, 255, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:70px;
	top:3681.290771484375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_194 {
	color:rgba(255, 255, 255, 1);
	width:305.6318359375px;
	height:51px;
	position:absolute;
	left:247.10498046875px;
	top:4898.9912109375px;
	font-family:Arial;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e140_195 {
	color:rgba(255, 255, 255, 1);
	width:465.73583984375px;
	height:29.4951171875px;
	position:absolute;
	left:643.333984375px;
	top:5905.677734375px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e140_196 {
	color:rgba(255, 255, 255, 1);
	width:328.5634765625px;
	height:29.4951171875px;
	position:absolute;
	left:177.61474609375px;
	top:5905.677734375px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e140_197 {
	color:rgba(255, 255, 255, 1);
	width:305.6318359375px;
	height:51px;
	position:absolute;
	left:934.94677734375px;
	top:4898.9912109375px;
	font-family:Arial;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e140_198 {
	color:rgba(255, 255, 255, 1);
	width:566px;
	height:51px;
	position:absolute;
	left:753px;
	top:3681.290771484375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_205 {
	width:1191px;
	height:380px;
	position:absolute;
	left:121px;
	top:1781px;
}
.140_206 {
	border:1px solid rgba(255, 255, 255, 1);
}
.e140_206 {
	width:1191px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
}
.e140_207 {
	background-color:rgba(173.18750202655792, 173.18750202655792, 173.18750202655792, 1);
	width:359.2444763183594px;
	height:312.79852294921875px;
	position:absolute;
	left:44.72314453125px;
	top:33.25435256958008px;
}
.e140_208 {
	background-color:rgba(155.12500405311584, 153.83229821920395, 153.83229821920395, 1);
	width:316.4657287597656px;
	height:312.79852294921875px;
	position:absolute;
	left:435.079833984375px;
	top:33.25435256958008px;
}
.e140_209 {
	background-color:rgba(116.8750025331974, 115.90104639530182, 115.90104639530182, 1);
	width:362.6473693847656px;
	height:312.79852294921875px;
	position:absolute;
	left:778.2822265625px;
	top:33.25435256958008px;
}
.e140_210 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:272.22857666015625px;
	height:28.404741287231445px;
	position:absolute;
	left:458.899658203125px;
	top:44.68544006347656px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e140_211 {
	width:309.0350036621094px;
	height:28.454225540161133px;
	position:absolute;
	left:69.79345703125px;
	top:44.537078857421875px;
}
.e140_212 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:309.0350036621094px;
	height:28.454225540161133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e140_213 {
	color:rgba(0, 0, 0, 1);
	width:75.34898376464844px;
	height:18.7055606842041px;
	position:absolute;
	left:109.377197265625px;
	top:4.206132411956787px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_214 {
	color:rgba(0, 0, 0, 1);
	width:115.21102142333984px;
	height:18.7055606842041px;
	position:absolute;
	left:539.3944702148438px;
	top:48.8424072265625px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_215 {
	width:272.5758361816406px;
	height:28.454225540161133px;
	position:absolute;
	left:823.282958984375px;
	top:44.537078857421875px;
}
.e140_216 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:272.5758361816406px;
	height:28.454225540161133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e140_217 {
	color:rgba(0, 0, 0, 1);
	width:171.6012420654297px;
	height:18.7055606842041px;
	position:absolute;
	left:60.001380920410156px;
	top:4.2061767578125px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_218 {
	color:rgba(0, 0, 0, 1);
	width:221.1857147216797px;
	height:37.4111213684082px;
	position:absolute;
	left:106.4609375px;
	top:106.34453582763672px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_219 {
	color:rgba(0, 0, 0, 1);
	width:142.4338836669922px;
	height:18.7055606842041px;
	position:absolute;
	left:515.77587890625px;
	top:96.99177551269531px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_220 {
	color:rgba(0, 0, 0, 1);
	width:200.76856994628906px;
	height:18.7055606842041px;
	position:absolute;
	left:486px;
	top:130px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_221 {
	color:rgba(0, 0, 0, 1);
	width:184.7265167236328px;
	height:18.7055606842041px;
	position:absolute;
	left:875.0205078125px;
	top:106.34453582763672px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_222 {
	color:rgba(0, 0, 0, 1);
	width:257.1587829589844px;
	height:18.7055606842041px;
	position:absolute;
	left:840.505615234375px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_223 {
	color:rgba(0, 0, 0, 1);
	width:261.0477600097656px;
	height:18.7055606842041px;
	position:absolute;
	left:96.73828125px;
	top:180.47401428222656px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_224 {
	color:rgba(0, 0, 0, 1);
	width:198.82408142089844px;
	height:18.7055606842041px;
	position:absolute;
	left:486.122314453125px;
	top:182.2061309814453px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_225 {
	color:rgba(0, 0, 0, 1);
	width:159.9342803955078px;
	height:18.7055606842041px;
	position:absolute;
	left:879.881591796875px;
	top:182.2061309814453px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_226 {
	color:rgba(0, 0, 0, 1);
	width:273.6869201660156px;
	height:18.7055606842041px;
	position:absolute;
	left:87.98828125px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_227 {
	color:rgba(0, 0, 0, 1);
	width:115.69715118408203px;
	height:18.7055606842041px;
	position:absolute;
	left:157.50341796875px;
	top:286.4721984863281px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_228 {
	color:rgba(0, 0, 0, 1);
	width:267.3673400878906px;
	height:18.7055606842041px;
	position:absolute;
	left:458.41357421875px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e140_229 {
	width:1440px;
	height:741.2032470703125px;
	position:absolute;
	left:0px;
	top:281.5694580078125px;
}
.e140_230 {
	background-color:rgba(54.18750151991844, 54.18750151991844, 54.18750151991844, 0.12999999523162842);
	width:1440px;
	height:741.2032470703125px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_234 {
	width:687.841552734375px;
	height:687.841552734375px;
	position:absolute;
	left:56px;
	top:4236.64990234375px;
	background-image:url(images/spaceman.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_235 {
	width:687.841552734375px;
	height:687.841552734375px;
	position:absolute;
	left:743.841796875px;
	top:4236.64990234375px;
	background-image:url(images/catman.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_236 {
	width:364.3765869140625px;
	height:334.8039855957031px;
	position:absolute;
	left:876.2021484375px;
	top:5520.44482421875px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_237 {
	background-color:rgba(92.00000211596489, 92.00000211596489, 92.00000211596489, 1);
	width:1440px;
	height:455.01416015625px;
	position:absolute;
	left:0px;
	top:5055px;
}
.e140_238 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:136px;
	height:37px;
	position:absolute;
	left:56px;
	top:5091.62109375px;
	font-family:Arial;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_241 {
	width:500px;
	height:292px;
	position:absolute;
	left:443.123046875px;
	top:6889.85302734375px;
}
.e140_242 {
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:165px;
	height:39px;
	position:absolute;
	left:29px;
	top:15.12548828125px;
	font-family:GT America;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_243 {
	width:20.999980926513672px;
	height:150.82037353515625px;
	position:absolute;
	left:83px;
	top:75.45849609375px;
}
.e140_244 {
	width:20.999980926513672px;
	height:20.539119720458984px;
	position:absolute;
	left:0px;
	top:0px;
}
.140_245 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_245 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:7.886528968811035px;
	top:0px;
}
.140_246 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_246 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:0px;
	top:6.37091064453125px;
}
.e140_247 {
	width:20.999980926513672px;
	height:20.539119720458984px;
	position:absolute;
	left:0px;
	top:41.87158203125px;
}
.140_248 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_248 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:7.886528968811035px;
	top:0px;
}
.140_249 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_249 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:0px;
	top:6.37091064453125px;
}
.e140_250 {
	width:20.999980926513672px;
	height:20.539119720458984px;
	position:absolute;
	left:0px;
	top:86.07666015625px;
}
.140_251 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_251 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:7.886528968811035px;
	top:0px;
}
.140_252 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_252 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:0px;
	top:6.37091064453125px;
}
.e140_253 {
	width:20.999980926513672px;
	height:20.539119720458984px;
	position:absolute;
	left:0px;
	top:130.28125px;
}
.140_254 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_254 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:7.886528968811035px;
	top:0px;
}
.140_255 {
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}
.e140_255 {
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:0px;
	top:6.37091064453125px;
}
.e140_256 {
	color:rgba(255, 255, 255, 1);
	width:1155px;
	height:22.871826171875px;
	position:absolute;
	left:126px;
	top:73.12548828125px;
	font-family:GT America;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_257 {
	color:rgba(255, 255, 255, 1);
	width:1155px;
	height:22.871826171875px;
	position:absolute;
	left:126px;
	top:114.99755859375px;
	font-family:GT America;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_258 {
	color:rgba(255, 255, 255, 1);
	width:1155px;
	height:22.871826171875px;
	position:absolute;
	left:126px;
	top:159.2021484375px;
	font-family:GT America;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_259 {
	color:rgba(255, 255, 255, 1);
	width:1155px;
	height:22.871826171875px;
	position:absolute;
	left:126px;
	top:203.4072265625px;
	font-family:GT America;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_260 {
	color:rgba(255, 255, 255, 1);
	width:279.52587890625px;
	height:22.871826171875px;
	position:absolute;
	left:545.638671875px;
	top:7532.9091796875px;
	font-family:Arial;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e140_266 {
	width:242.05703735351562px;
	height:334.8039855957031px;
	position:absolute;
	left:233.158203125px;
	top:5540.21435546875px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_267 {
	width:316.15850830078125px;
	height:335.2627258300781px;
	position:absolute;
	left:618.7880859375px;
	top:5540.21435546875px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_268 {
	width:329.8103332519531px;
	height:332.1494140625px;
	position:absolute;
	left:346.570556640625px;
	top:5074.2548828125px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_269 {
	width:290.3038330078125px;
	height:332.1494140625px;
	position:absolute;
	left:712.873291015625px;
	top:5074.2548828125px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_239 {
	color:rgba(255, 255, 255, 1);
	width:465.73583984375px;
	height:29.4951171875px;
	position:absolute;
	left:442.005859375px;
	top:5406.404296875px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e141_2 {
	width:623px;
	height:322.08935546875px;
	position:absolute;
	left:70px;
	top:3325.20166015625px;
	background-image:url(images/rectangle_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e141_3 {
	width:623px;
	height:322.08935546875px;
	position:absolute;
	left:753px;
	top:3325.20166015625px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e141_4 {
	width:623px;
	height:322.08935546875px;
	position:absolute;
	left:753px;
	top:3766.291015625px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e141_5 {
	width:623px;
	height:322.08935546875px;
	position:absolute;
	left:73.10986328125px;
	top:3766.291015625px;
	background-image:url(images/rectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
