.103_75 { 
	overflow:hidden;
}.e103_75 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:5194px;
	position:absolute;
}.e103_76 { 
	width:1279.720458984375px;
	height:308.125px;
	position:absolute;
	left:69.10986328125px;
	top:4646.0205078125px;
}.e103_77 { 
	width:1279.720458984375px;
	height:238.89208984375px;
	position:absolute;
	left:0px;
	top:69.23291015625px;
}.e103_78 { 
	width:238.89208984375px;
	height:238.89208984375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/00086_1526868604_man_in_cat_form_falling_through_different_dimensions_in_space_with_bright_glowing_lines_and_particles_around_him__top_camera_ang.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_79 { 
	width:209.42904663085938px;
	height:104.41410064697266px;
	position:absolute;
	left:1070.2913818359375px;
	top:133.48699951171875px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_80 { 
	width:354.5869445800781px;
	height:236.420166015625px;
	position:absolute;
	left:261.7052307128906px;
	top:1.4810116291046143px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_81 { 
	width:403.4803771972656px;
	height:236.42010498046875px;
	position:absolute;
	left:639.1053466796875px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_82 { 
	width:209.42906188964844px;
	height:117.80384826660156px;
	position:absolute;
	left:1070.2913818359375px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_83 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:421.1508483886719px;
	height:45.66357421875px;
	position:absolute;
	left:4px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_84 { 
	background-color:rgba(128.56249898672104, 127.49114647507668, 127.49114647507668, 0.3100000023841858);
	width:1440px;
	height:82px;
	position:absolute;
	left:0px;
	top:5112px;
}.e103_85 { 
	color:rgba(255, 255, 255, 1);
	width:634.4656982421875px;
	height:117.79080200195312px;
	position:absolute;
	left:89.70074462890625px;
	top:104.63421630859375px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e103_86 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:28px;
	position:absolute;
	left:967.0119018554688px;
	top:119.13421630859375px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e103_87 { 
	color:rgba(255, 255, 255, 1);
	width:321px;
	height:28px;
	position:absolute;
	left:1026.65625px;
	top:200.42501831054688px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e103_88 { 
	color:rgba(255, 255, 255, 1);
	width:137px;
	height:28px;
	position:absolute;
	left:1209.12890625px;
	top:120.02960205078125px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e103_89 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:59px;
	height:27px;
	position:absolute;
	left:95.62890625px;
	top:224.42501831054688px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e103_90 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:113px;
	height:23px;
	position:absolute;
	left:1047.011962890625px;
	top:145.92501831054688px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e103_91 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:106px;
	height:23px;
	position:absolute;
	left:1240.12890625px;
	top:228.42501831054688px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e103_92 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:48px;
	height:23px;
	position:absolute;
	left:1299.12890625px;
	top:146.8204345703125px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e103_93 { 
	color:rgba(255, 255, 255, 1);
	width:1199px;
	height:446px;
	position:absolute;
	left:128px;
	top:1162px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_94 { 
	color:rgba(255, 255, 255, 1);
	width:1155px;
	height:318px;
	position:absolute;
	left:151px;
	top:3133px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e103_96 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:56px;
	top:2237px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_126 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:315px;
	height:51px;
	position:absolute;
	left:56px;
	top:3482px;
	font-family:Inter;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}.e104_131 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:125px;
	height:39px;
	position:absolute;
	left:54px;
	top:3075px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_97 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:421.1508483886719px;
	height:45.66357421875px;
	position:absolute;
	left:73.1097412109375px;
	top:1716.74853515625px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_98 { 
	color:rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
	width:249px;
	height:21px;
	position:absolute;
	left:129px;
	top:2180px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}.e103_99 { 
	width:1440px;
	height:741.2032470703125px;
	position:absolute;
	left:0px;
	top:281.5694580078125px;
}.e103_100 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.12999999523162842);
	width:1440px;
	height:741.2032470703125px;
	position:absolute;
	left:0px;
	top:0px;
}.e103_101 { 
	width:263.87957763671875px;
	height:263.87957763671875px;
	position:absolute;
	left:588.0601806640625px;
	top:238.66183471679688px;
}.e103_102 { 
	border-radius:500px;
	width:263.87957763671875px;
	height:263.87957763671875px;
	position:absolute;
	left:0px;
	top:0px;
}.103_102 { 
	border:6px solid rgba(255, 255, 255, 1);
}.103_103 { 
	border:6px solid rgba(255, 255, 255, 1);
}.e103_103 { 
	width:100px;
	height:109.91697692871094px;
	position:absolute;
	left:89.93994140625px;
	top:76.08614349365234px;
}.e103_104 { 
	background-color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:1178px;
	height:720px;
	position:absolute;
	left:129px;
	top:2308px;
}.e103_105 { 
	width:20.999980926513672px;
	height:20.539119720458984px;
	position:absolute;
	left:108px;
	top:3135.332763671875px;
}.103_106 { 
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}.e103_106 { 
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:7.886528968811035px;
	top:0px;
}.103_107 { 
	border:1.7999999523162842px solid rgba(255, 255, 255, 1);
}.e103_107 { 
	width:13.113451957702637px;
	height:14.16821002960205px;
	position:absolute;
	left:0px;
	top:6.37091064453125px;
}.e103_118 { 
	color:rgba(255, 255, 255, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:70px;
	top:3584px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_119 { 
	color:rgba(255, 255, 255, 1);
	width:477px;
	height:51px;
	position:absolute;
	left:753px;
	top:3584px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_120 { 
	background-color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:623px;
	height:318px;
	position:absolute;
	left:70px;
	top:3651px;
}.e103_121 { 
	background-color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:623px;
	height:318px;
	position:absolute;
	left:753px;
	top:3651px;
}.e103_122 { 
	color:rgba(255, 255, 255, 1);
	width:476px;
	height:51px;
	position:absolute;
	left:70px;
	top:4003px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_123 { 
	color:rgba(255, 255, 255, 1);
	width:566px;
	height:51px;
	position:absolute;
	left:753px;
	top:4003px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e103_124 { 
	background-color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:623px;
	height:318px;
	position:absolute;
	left:70px;
	top:4070px;
}.e103_125 { 
	background-color:rgba(97.74999797344208, 97.74999797344208, 97.74999797344208, 1);
	width:623px;
	height:318px;
	position:absolute;
	left:753px;
	top:4070px;
}.e124_22 { 
	width:1191px;
	height:380px;
	position:absolute;
	left:121px;
	top:1781px;
}.e112_13 { 
	background-color:rgba(91.37499645352364, 91.37499645352364, 91.37499645352364, 1);
	width:1191px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
}.e103_72 { 
	background-color:rgba(173.18750202655792, 173.18750202655792, 173.18750202655792, 1);
	width:359.2444763183594px;
	height:312.79852294921875px;
	position:absolute;
	left:44.72314453125px;
	top:33.25435256958008px;
}.e112_2 { 
	background-color:rgba(155.12500405311584, 153.83229821920395, 153.83229821920395, 1);
	width:316.4657287597656px;
	height:312.79852294921875px;
	position:absolute;
	left:435.079833984375px;
	top:33.25435256958008px;
}.e112_5 { 
	background-color:rgba(116.8750025331974, 115.90104639530182, 115.90104639530182, 1);
	width:362.6473693847656px;
	height:312.79852294921875px;
	position:absolute;
	left:778.2822265625px;
	top:33.25435256958008px;
}.e112_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:272.22857666015625px;
	height:28.404741287231445px;
	position:absolute;
	left:458.899658203125px;
	top:44.68544006347656px;
}.e112_12 { 
	width:309.0350036621094px;
	height:28.454225540161133px;
	position:absolute;
	left:69.79345703125px;
	top:44.537078857421875px;
}.e103_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:309.0350036621094px;
	height:28.454225540161133px;
	position:absolute;
	left:0px;
	top:0px;
}.e103_74 { 
	color:rgba(0, 0, 0, 1);
	width:75.34898376464844px;
	height:18.7055606842041px;
	position:absolute;
	left:109.377197265625px;
	top:4.206132411956787px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e112_4 { 
	color:rgba(0, 0, 0, 1);
	width:115.21102142333984px;
	height:18.7055606842041px;
	position:absolute;
	left:534.24853515625px;
	top:48.84236526489258px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e112_11 { 
	width:272.5758361816406px;
	height:28.454225540161133px;
	position:absolute;
	left:823.282958984375px;
	top:44.537078857421875px;
}.e112_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:272.5758361816406px;
	height:28.454225540161133px;
	position:absolute;
	left:0px;
	top:0px;
}.e112_7 { 
	color:rgba(0, 0, 0, 1);
	width:171.6012420654297px;
	height:18.7055606842041px;
	position:absolute;
	left:45.139892578125px;
	top:4.206132411956787px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e112_8 { 
	color:rgba(0, 0, 0, 1);
	width:221.1857147216797px;
	height:37.4111213684082px;
	position:absolute;
	left:106.4609375px;
	top:106.34453582763672px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_14 { 
	color:rgba(0, 0, 0, 1);
	width:142.4338836669922px;
	height:18.7055606842041px;
	position:absolute;
	left:515.77587890625px;
	top:96.99177551269531px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e124_21 { 
	color:rgba(0, 0, 0, 1);
	width:200.76856994628906px;
	height:18.7055606842041px;
	position:absolute;
	left:486px;
	top:130px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_18 { 
	color:rgba(0, 0, 0, 1);
	width:184.7265167236328px;
	height:18.7055606842041px;
	position:absolute;
	left:875.0205078125px;
	top:106.34453582763672px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_20 { 
	color:rgba(0, 0, 0, 1);
	width:257.1587829589844px;
	height:18.7055606842041px;
	position:absolute;
	left:840.505615234375px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e112_9 { 
	color:rgba(0, 0, 0, 1);
	width:261.0477600097656px;
	height:18.7055606842041px;
	position:absolute;
	left:96.73828125px;
	top:180.47401428222656px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_15 { 
	color:rgba(0, 0, 0, 1);
	width:198.82408142089844px;
	height:18.7055606842041px;
	position:absolute;
	left:486.122314453125px;
	top:182.2061309814453px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_19 { 
	color:rgba(0, 0, 0, 1);
	width:159.9342803955078px;
	height:18.7055606842041px;
	position:absolute;
	left:879.881591796875px;
	top:182.2061309814453px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e112_10 { 
	color:rgba(0, 0, 0, 1);
	width:273.6869201660156px;
	height:18.7055606842041px;
	position:absolute;
	left:87.98828125px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_16 { 
	color:rgba(0, 0, 0, 1);
	width:115.69715118408203px;
	height:18.7055606842041px;
	position:absolute;
	left:157.50341796875px;
	top:286.4721984863281px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e115_17 { 
	color:rgba(0, 0, 0, 1);
	width:267.3673400878906px;
	height:18.7055606842041px;
	position:absolute;
	left:458.41357421875px;
	top:254.2570037841797px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}