.64_3 { 
	overflow:hidden;
}.e64_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:2724px;
	position:absolute;
}.e64_5 { 
	width:768px;
	height:768px;
	position:absolute;
	left:69.32105255126953px;
	top:49.65033721923828px;
	background-image:url(images/00086_1526868604_man_in_cat_form_falling_through_different_dimensions_in_space_with_bright_glowing_lines_and_particles_around_him__top_camera_ang.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e64_6 { 
	color:rgba(255, 255, 255, 1);
	width:548.0707397460938px;
	height:96.29080200195312px;
	position:absolute;
	left:916.80810546875px;
	top:294.65032958984375px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:126px;
	letter-spacing:0;
}.e64_7 { 
	color:rgba(255, 255, 255, 1);
	width:1157.0841064453125px;
	height:1254.0284423828125px;
	position:absolute;
	left:141.45794677734375px;
	top:998.2617797851562px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}